*{
    box-sizing: border-box;
}

body{
    background-color: salmon;
}


.about {

    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/bookcases\ 2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
}

.about p{
    width: 100%;
    text-align: center;
}

section h2{
    font-size: 48px;
    text-align: center;
    margin-bottom: 30px;
    color: white;
}